# Python & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Build & Dist Outputs (PyInstaller & Flet)
build/
dist/
*.spec

# Database & User Data Lokal
*.json
*.db
data.json

# Visual Studio Code & IDE
.vscode/
.idea/
*.log